@import "./variables";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

// Global Setup

body .pattern-curve {
    position: absolute;
    bottom: 0;
    left: 0;
}

#picture {
    transition:
        filter 0.8s ease,
        opacity 0.8s ease; /* Smoother and longer transition */
}

.blur {
    filter: blur(20px); /* Increased blur for smoother transition */
    opacity: 0.6; /* Fade out the image */
}

// Article

article {
    min-width: $minWidth;
    max-width: $maxWidth;

    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $ff-100;

    // Content Section

    & .content-section {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        & .quotes {
            position: absolute;
            top: -7%;
            left: 30%;
        }

        & .description {
            width: 110%;
            height: 250px;
            font-size: clamp(1rem, 0.4718rem + 2.2535vw, 2.3rem);
            font-weight: $fw-100;
            margin-inline-start: 3em;
            color: $clr-primary-100;
            z-index: 100;
            line-height: 45px;
            word-break: keep-all;
            text-overflow: ellipsis;
        }

        & .name-box {
            width: 80%;
            display: flex;
            text-wrap: nowrap;
            z-index: 100;
            display: flex;
            flex-shrink: 3;
            margin-inline: clamp(10px, 5vw, 120px);

            & .name {
                font-size: $fs-100 - 0.7rem;
                font-weight: $fw-300;
                color: $clr-primary-100;
                padding-left: 1.5em;
            }

            & .job {
                font-size: $fs-100 - 0.7rem;
                font-weight: $fw-200;
                color: $clr-primary-200;
                margin-left: 0.8em;
            }
        }
    }

    // Picture Section

    & .picture-section {
        width: 50%;
        height: 100%;
        position: relative;

        & .element {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    & .buttons {
        width: 130px;
        height: 50px;
        position: absolute;
        bottom: 12%;
        left: 40%;
        border-radius: 3em;
        display: flex;
        overflow: hidden;
        box-shadow: 0px 20px 15px 1px hsla(240, 37%, 20%, 0.293);

        & button {
            width: 50%;
            height: 100%;
            cursor: pointer;
            background-color: white;
            border: none;
            outline: none;

            i {
                font-size: $fs-100 - 1rem;
            }
        }
    }
}

// Mobile

@media (width < $minMaxWidth) {
    body {
        height: auto;

        & .pattern-curve {
            width: 100%;
            height: 100px;
        }
    }

    article {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        display: flex;

        // Content Section

        & .content-section {
            order: 2;
            width: 100%;
            height: 50%;
            padding-left: .5em;
            padding-right: .5em;

            & .quotes {
                transform: scale(0.5);
                top: 40px;
                left: 35%;
            }

            & .description {
                width: 100%;
                height: 200px;
                margin-inline-start: 0;
                text-align: center;
                line-height: 30px;
                font-size: $fs-100 - 0.8rem;
                font-weight: $fw-200;
            }

            & .name-box {
                display: flex;
                flex-direction: column;
                margin-inline: auto auto;

                & .name,
                & .job {
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    margin-inline: 0 0;
                    font-size: $fs-100 - 1rem;
                }
            }
        }

        // Picture Section

        & .picture-section {
            width: 100%;
            height: 50%;
            order: 1;
            position: relative;
            padding-top: 2em;

            & img.element {
                width: 90%;
                height: 80%;
            }

            & svg.element path {
                transform: scale(0.7) translate(10%, 25%);
            }

            & .buttons {
                left: 35%;
                bottom: 20px;
            }
        }
    }
}

@media(height < 500px) {
    article {
        width: 400px;
    }
}